h1 {
	font-weight: 75px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

p {
	font-size: 45px;
	line-height: 100px;
	font-family: 'Sacramento', cursive;
	letter-spacing: 2px;
}
a:link {
	color: blue;
	background-color: yellow;
}

a:visited {
	color:red;
	background-color: green;
}

a:hover {
	color:pink;
	background-color: brown;
}